.card-animation {
    transition: transform 0.3s ease; 
}

.card-animation:hover {
    transform: translateX(20px);
}


.new-expense {
    animation: highlight 2s ease;
}

@keyframes highlight {
    0% {
        background-color: rgb(190, 197, 190);
    }

    100% {
        background-color: transparent;
    }
}


.trail {
    position: fixed;
    width: 6px;
    height: 4px;
    background: rgb(53, 50, 50);
    z-index: 9999;
    opacity: 0.8;
    border-radius: 50%;
    transition: opacity 2s;
}

.active{
    border: 2px solid rgb(18, 18, 18);
    background-color: rgb(253, 250, 250);
    color: rgb(20, 21, 22) !important;

}
.aside-button {
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
}

.aside-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.bg{
    background-color: rgb(63, 92, 135) !important;
}
.dark-blue-text{
    color: rgb(63, 92, 135) !important;
}


.note-card {
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 120px;
  background-color: var(--note-color, #fff9c4);
  position: relative;
}

.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.yellow-bg {
    background-color: #d3d2c7 ;
}

.green-bg {
  background-color: #09570b ;
}



/* Adjust main content to prevent overlap with fixed sidebar */
.col-sm-9.col-lg-10 {
    margin-left: 20%; 
    width: 75%; 
}


@media (max-width: 576px) {
    .bar {
        position: relative !important; /* Remove fixed positioning for small screens */
        height: 100vh;
        width: 100%; 
    }

    .col-sm-9.col-lg-10 {
        margin-left: 0;
        width: 100%;
    }

  
}

.bg-light-success{
    background-color: #09570c3e;
}

.bg-light-warning{
    background-color: rgba(248, 248, 91, 0.275);
}

.border-bg{
    border-color: rgb(63, 92, 135) !important;
}


.text-orange{
    color: rgb(163, 127, 59);
}

.btn-orange{
    background-color: rgb(163, 127, 59) !important;

}



.text-lightGreen{
    color: rgb(154, 195, 181);
}

.btn-lightGreen{
    background-color: rgb(154, 195, 181) !important ;
}


.purple-text{
    color:rgb(98, 18, 98);
}

.purple-bg{
    background-color:rgb(98, 18, 98); ;
}

.text-gold{
color: gold;
}

.gold-bg{
    background-color: gold;
}